@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Nunito:wght@200&display=swap');

.layout {
    background-color: #FFFFF6;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 5px;
}
    
h1 {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 3em;
    color: #4C4C49;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 18px;
    padding-left: 25px;
}

p {
    font-family: 'Nunito' , sans-serif;
    font-size: 18px;
    padding-left: 50px;
}

.navbar {
    border-bottom: 4px solid #FF914D;
    background-color: #FFFFF6;
    padding-bottom: 15px;
}

.btn {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.donate-button {
    background-color: #549BEA;

}

.signin-button {
    background-color: #6AC66B;
}

hr {
    border: 0.5px dotted #4C4C49;
}

footer {
    font-family: 'Nunito';
}